.today_storyteller .info_profile .txt_profile  { font-size: 15px; !important }
.tab_storyteller .link_tab  { font-size: 15px; !important }
.tab_fixed .opt_tab .link_selected  { font-size: 17px; !important }
.tab_fixed .opt_tab .list_opt .link_option  { font-size: 13px; !important }
.list_storyteller .box_item .thumb_item .tit_item  { font-size: 20px; !important }
.list_storyteller .desc_item .link_user  { font-size: 15px; !important }
.list_storyteller .desc_item .info_append .txt_info  { font-size: 12px; !important }
.list_storyteller .desc_item .btn_com  { font-size: 12px; !important }
.list_storyteller_type1 .desc_item .link_user  { font-size: 14px; !important }
.feed_mystory .tit_wrap .tit_feed  { font-size: 18px; !important }
.feed_mystory .tool_pub .btn_tool  { font-size: 13px; !important }
.feed_mystory .open_layer li  { font-size: 13px; !important }
.wrap_itemstory .item_story .link_story .tit_story  { font-size: 15px; !important }
.wrap_itemstory .item_story .link_story .txt_story  { font-size: 15px; !important }
.wrap_itemstory .item_story .link_belong .txt_belong  { font-size: 13px; !important }
.wrap_itemstory .item_story .txt_blind  { font-size: 15px; !important }
.wrap_itemstory .item_story .btn_action  { font-size: 12px; !important }
.add_top .btn_require  { font-size: 12px; !important }
.story_comfort_layer .tit_comfort  { font-size: 12px; !important }
.story_comfort_layer .choice_head .lab_check  { font-size: 12px; !important }
.story_comfort_layer .box_choice .ly_tooltip  { font-size: 11px; !important }
.story_comfort_layer .friend_history .tit_history  { font-size: 12px; !important }
.story_comfort_layer .list_history .pf_txt .txt_name  { font-size: 12px; !important }
.story_comfort_layer .txt_comfort  { font-size: 14px; !important }
.story_comfort_layer .choice_comfort .txt_comfort  { font-size: 12px; !important }
.story_comfort_layer .search_on .wrap_comfort .txt_comfort  { font-size: 12px; !important }
.write .with_map .place_layer .desc_place .link_hash  { font-size: 13px; !important }
.pswp__error-msg  { font-size: 14px; !important }
.date_collection .box_cell .top_wrap .txt_year  { font-size: 13px; !important }
.date_collection .box_cell .top_wrap .txt_month  { font-size: 32px; !important }
.date_collection .box_cell .total_story  { font-size: 13px; !important }
.date_collection .box_cell .link_thumb .txt_date  { font-size: 13px; !important }
.date_collection .box_cell .link_txt  { font-size: 15px; !important }
.date_collection .box_cell .link_txt .txt_date  { font-size: 12px; !important }
.date_collection .box_cell .btn_more  { font-size: 15px; !important }
.feature_feed .box_feed .tit_feed  { font-size: 22px; !important }
.feature_feed .box_feed .txt_feed  { font-size: 16px; !important }
.feature_feed .btn_feed  { font-size: 16px; !important }
.write .tooltip.v3  { font-size: 14px; !important }
.write .tooltip.v3 .tit_tip  { font-size: 17px; !important }
.comment .list .comt_write .friend_layer ul li .txt  { font-size: 13px; !important }
.section.recommend .list_buddy .pf_txt  { font-size: 12px; !important }
.section.recommend .list_buddy .pf_txt .tit  { font-size: 16px; !important }
.story_buddy_layer .list_people .tit_userinfo  { font-size: 16px; !important }
.story_buddy_layer .list_people .txt_userinfo  { font-size: 12px; !important }
.box_feedback .tit_feedback  { font-size: 13px; !important }
.hash .emph_tag  { font-size: 13px; !important }
.hash .list_tag .link_tag  { font-size: 13px; !important }
.wrap_recomm .img_wrap .link_txt  { font-size: 15px; !important }
.wrap_recomm .img_wrap .txt_date  { font-size: 12px; !important }
.wrap_recomm .img_wrap .txt_hash  { font-size: 18px; !important }
.wrap_recomm .img_wrap .emph_location  { font-size: 16px; !important }
.wrap_recomm .img_wrap .txt_distance  { font-size: 13px; !important }
.wrap_recomm .img_wrap .cont_empathy  { font-size: 13px; !important }
.error_wrap_v3 .info_error .desc_error  { font-size: 16px; !important }
.story_recomms .recomm_story .tit_recomm  { font-size: 22px; !important }
.story_recomms .link_morestory  { font-size: 18px; !important }
.recomm_hotstory .list_hotstory .user_pf .link_pf  { font-size: 16px; !important }
.recomm_hotstory .list_hotstory .desc_hotstory .link_txt  { font-size: 16px; !important }
.recomm_hotstory .list_hotstory .cont_empathy .link_empathy  { font-size: 14px; !important }
.recomm_popular .hash_popular .link_hash  { font-size: 24px; !important }
.recomm_popular .list_popular .desc_popular .link_txt  { font-size: 16px; !important }
.recomm_popular .list_popular .user_pf .link_pf  { font-size: 14px; !important }
.recomm_popular .link_keyword .txt_keyword  { font-size: 18px; !important }
.footer_recomm .list_policy .link_policy  { font-size: 12px; !important }
.footer_recomm .list_app .link_app  { font-size: 12px; !important }
.footer_recomm .txt_copyright  { font-size: 12px; !important }
.info_error .tit_error  { font-size: 36px; !important }
.info_error .desc_error  { font-size: 15px; !important }
.info_error .txt_error  { font-size: 14px; !important }
.info_error .btn_group  { font-size: 14px; !important }
.story_banner .cont_banner .tit_banner  { font-size: 17px; !important }
.story_banner_sosocmt .name_sosocmt  { font-size: 12px; !important }
.story_banner_sosocmt .btn_like  { font-size: 12px; !important }
.edit_layer .emph_effect  { font-size: 14px; !important }
.edit_layer .wrap_btn .btn_com  { font-size: 13px; !important }
.section_birth .tit_birth  { font-size: 15px; !important }
.section_birth .link_name  { font-size: 17px; !important }
.section_birth .txt_friend  { font-size: 13px; !important }
.feed_sosohan .desc_sosohan  { font-size: 13px; !important }
.feed_sosohan .desc_sosostory .link_sosohan  { font-size: 13px; !important }
.feed_sosohan .desc_sosostory .txt_user  { font-size: 13px; !important }
.feed_fortune .tit_fortune  { font-size: 22px; !important }
.feed_fortune .txt_fortune  { font-size: 14px; !important }
.feed_fortune .btn_fortune  { font-size: 13px; !important }
.feed_fortune .fortune_ing  { font-size: 14px; !important }
.feel_group .txt_advice  { font-size: 12px; !important }
.story_inflow .tit_inflow  { font-size: 35px; !important }
.story_inflow.none_rnb .tit_inflow  { font-size: 43px; !important }
.story_inflow .head_inflow .add_top .pf_name  { font-size: 25px; !important }
.story_inflow .inflow_type2 .add_top .pf_name  { font-size: 17px; !important }
.story_inflow.none_rnb .head_inflow .add_top .pf_name  { font-size: 30px; !important }
.story_inflow.none_rnb .inflow_type2 .add_top .pf_name  { font-size: 17px; !important }
.story_inflow .add_top .time  { font-size: 13px; !important }
.story_inflow .fd_cont .txt_wrap  { font-size: 15px; !important }
.story_inflow .fd_cont .place  { font-size: 15px; !important }
.story_inflow .fd_cont .share_wrap .case_del, .story_inflow .fd_cont .share_wrap .case_lock, .story_inflow .fd_cont .share_wrap .case_report, .story_inflow .fd_cont .share_wrap .link_change  { font-size: 15px; !important }
.story_inflow .fd_cont .scrap_wrap .link_scrap .tit_scrap  { font-size: 18px; !important }
.story_inflow .fd_cont .scrap_wrap .link_scrap .txt_scrap  { font-size: 15px; !important }
.story_inflow .fd_cont .scrap_image .tit_scrap  { font-size: 18px; !important }
.story_inflow .fd_cont .scrap_image .txt_scrap  { font-size: 15px; !important }
.story_inflow .fd_cont .movie_wrap .movie_txt .tit_movie  { font-size: 18px; !important }
.story_inflow .fd_cont .movie_wrap .movie_txt .txt_movie  { font-size: 15px; !important }
.story_inflow .comment .count_group  { font-size: 15px; !important }
.story_inflow .comment_type2 .btn_sort  { font-size: 15px; !important }
.story_inflow .comment .list>li .txt  { font-size: 15px; !important }
.story_inflow .comment .list>li .txt p .name  { font-size: 16px; !important }
.story_inflow .comment .list>li .txt p .time  { font-size: 14px; !important }
.story_inflow .comment .list>li .txt .btn_like, .story_inflow .comment .list>li .txt .data_like  { font-size: 14px; !important }
.story_inflow .comment .more  { font-size: 15px; !important }
.story_inflow .comment_type2 .more  { font-size: 14px; !important }
.story_inflow .comment .comt_write .inp_write .txt_copy  { font-size: 15px; !important }
.story_inflow .comment .comt_write .inp_write textarea  { font-size: 15px; !important }
.story_inflow .comment .comt_write .inp_write label  { font-size: 15px; !important }
.story_inflow .comment .comt_write .btn_com  { font-size: 15px; !important }
.story_inflow .differ_wrap .tit_differ  { font-size: 17px; !important }
.story_inflow .tit_other  { font-size: 17px; !important }
.story_inflow .list_other .desc  { font-size: 15px; !important }
.story_inflow .other_story .btn_entire  { font-size: 14px; !important }
.story_inflow .info_profile .name_profile  { font-size: 25px; !important }
.story_inflow .info_profile .txt_profile  { font-size: 13px; !important }
.story_inflow .info_profile .txt_follow  { font-size: 13px; !important }
.story_inflow .feed_relation .tit_relation  { font-size: 13px; !important }
.story_inflow .feed_relation .wrap_relation .desc_relation  { font-size: 15px; !important }
.story_inflow .slide_recomm .tit_recomm  { font-size: 16px; !important }
.story_inflow .list_recomm .link_recomm  { font-size: 17px; !important }
.story_inflow .list_recomm .data_story  { font-size: 13px; !important }
.slide_recomm .list_recomm .txt_category  { font-size: 13px; !important }
.slide_recomm .list_recomm .tit_teller  { font-size: 24px; !important }
.slide_recomm .desc_story .name_user  { font-size: 16px; !important }
.differ_similar .list_differ .info_similar  { font-size: 12px; !important }
.differ_similar .txt_ad  { font-size: 12px; !important }
.profile_collection .list_profile .info_txt  { font-size: 12px; !important }
.agree_check .tit_agree  { font-size: 12px; !important }
.__tablet__ .tit_show, .desktop_s .tit_show  { font-size: 15px; !important }
.__tablet__ .wrap_map .info_map .inner_info .tab_area .opt_tab .btn_opt, .wrap_map.tablet .info_map .inner_info .tab_area .opt_tab .btn_opt  { font-size: 13px; !important }
.__tablet__ .wrap_map .info_map .inner_info .tab_area .opt_tab .btn_opt span, .wrap_map.tablet .info_map .inner_info .tab_area .opt_tab .btn_opt span  { font-size: 13px; !important }
.__tablet__ .wrap_map .info_map .inner_info .tab_area .list_tab li .link_tab span, .wrap_map.tablet .info_map .inner_info .tab_area .list_tab li .link_tab span  { font-size: 13px; !important }
.__tablet__ .wrap_map .info_map .inner_info .head_area .tit_area, .wrap_map.tablet .info_map .inner_info .head_area .tit_area  { font-size: 24px; !important }
.wrap_map .feed .fd_cont .share_wrap_v4 .add_top .myid .pf_name  { font-size: 15px; !important }
.fd_cont .share_wrap_v4 .time_head  { font-size: 14px; !important }
.story_widgets .calendar_top .tit_year  { font-size: 14px; !important }
.story_widgets .list_calendar .btn_month  { font-size: 14px; !important }
.hash_layer .link_more  { font-size: 12px; !important }
.load_match  { font-size: 14px; !important }
.dim_ly .match .match_list em  { font-size: 12px; !important }
.emoticon_keyboard  { font-size: 14px; !important }
.emoticon_keyboard button  { font-size: 14px; !important }
.emoticon_keyboard .emt_il .emt_il_empty  { font-size: 13px; !important }
.emoticon_keyboard .emt_agree .emt_a_tit_agree, .emoticon_keyboard .emt_agree .emt_a_tit_expire  { font-size: 13px; !important }
.emoticon_keyboard .emt_connect .emt_c_title  { font-size: 13px; !important }
.emoticon_keyboard .emt_guide .emt_g_title  { font-size: 18px; !important }
.mejs-container .mejs-controls div  { font-size: 11px; !important }
.mejs-container .mejs-controls .mejs-time span  { font-size: 11px; !important }
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total  { font-size: 1px; !important }
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current  { font-size: 1px; !important }
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label  { font-size: 10px; !important }
.mejs-controls .mejs-captions-button .mejs-captions-translations  { font-size: 10px; !important }
.mejs-container.mejs-kakao .mejs-controls .mejs-currenttime-container  { font-size: 12px; !important }
.story_business_layer .layer_body .desc_guide  { font-size: 12px; !important }
.story_business_layer .layer_body .link_guide  { font-size: 12px; !important }
.story_business_layer .layer_body .tit_business  { font-size: 13px; !important }
.story_business_layer .profile_inp .tf_business  { font-size: 13px; !important }
.story_business_layer .profile_inp .lab_business  { font-size: 13px; !important }
.story_business_layer .radio_inp  { font-size: 13px; !important }
.story_business_layer .agree_inp  { font-size: 12px; !important }
.story_business_layer .desc_agree  { font-size: 11px; !important }
.story_business_layer .txt_agree  { font-size: 11px; !important }
.business_collection .tit_collection  { font-size: 19px; !important }
.business_collection .list_dl dt  { font-size: 12px; !important }
.business_collection .txt_business  { font-size: 12px; !important }
.wrap_swipe .info_swipe  { font-size: 12px; !important }
.box_notice .txt_notice  { font-size: 14px; !important }